In [2]:
import pydataset
import pandas as pd

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [4]:
df_iris = pydataset.data('iris')

In [6]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [7]:
df_iris.shape

(150, 5)

In [8]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [10]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [11]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000



Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

- assign the first 100 rows to a new dataframe, df_google_sheets_sample
- print the number of rows of your original dataframe
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [15]:
sheet_url = 'https://docs.google.com/spreadsheets/d/10wggtv3PSKYyRMgvTOJ6d9ksuw-FguyU_7yfishNlgk/edit#gid=1023018493'
export_sheet_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google_sheet = pd.read_csv(export_sheet_url)
df_google_sheet

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

In [17]:
df_google_sheets_sample = df_google_sheet.head(100)

In [19]:
df_google_sheet.shape

(7049, 13)

In [21]:
df_google_sheet.dtypes[df_google_sheet.dtypes=='object']

customer_id     object
gender          object
partner         object
dependents      object
payment_type    object
churn           object
dtype: object

In [37]:
df_google_sheet.describe().loc[['max', 'min']]

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure
max,1.0,2.0,2.0,2.0,118.75,8684.8,79.3
min,0.0,0.0,0.0,0.0,18.25,18.8,0.0

In [36]:
df_google_sheet.describe().loc['max'] - df_google_sheet.describe().loc['min']

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
tenure                 79.3
dtype: float64



Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [42]:
df_excel = pd.read_excel('Table1_CustDetails.xlsx')

In [43]:
df_excel_sample = df_excel.head(100)

In [44]:
df_excel.shape

(7049, 13)

In [45]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [48]:
df_excel.dtypes[df_excel.dtypes=='object']

customer_id     object
gender          object
partner         object
dependents      object
payment_type    object
churn           object
dtype: object

In [49]:
df_excel.describe().loc[['max', 'min']]

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure
max,1.0,2.0,2.0,2.0,118.75,8684.8,79.341772
min,0.0,0.0,0.0,0.0,18.25,18.8,0.000000

In [50]:
df_excel.describe().loc['max'] - df_excel.describe().loc['min']

is_senior_citizen       1.000000
phone_service           2.000000
internet_service        2.000000
contract_type           2.000000
monthly_charges       100.500000
total_charges        8666.000000
tenure                 79.341772
dtype: float64



Read the data from this google sheet into a dataframe, df_google.

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [51]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
export_sheet_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(export_sheet_url)
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [52]:
df_google.shape

(891, 12)

In [53]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [55]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [56]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [59]:
df_google[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']].nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

#### acquire file test

In [60]:
import acquire

In [65]:
acquire.get_titanic_data()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [66]:
acquire.get_iris_data()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_name
0,0,1,5.1,3.5,1.4,0.2,1,setosa
1,1,2,4.9,3.0,1.4,0.2,1,setosa
2,2,3,4.7,3.2,1.3,0.2,1,setosa
3,3,4,4.6,3.1,1.5,0.2,1,setosa
4,4,5,5.0,3.6,1.4,0.2,1,setosa
5,5,6,5.4,3.9,1.7,0.4,1,setosa
6,6,7,4.6,3.4,1.4,0.3,1,setosa
7,7,8,5.0,3.4,1.5,0.2,1,setosa
8,8,9,4.4,2.9,1.4,0.2,1,setosa
9,9,10,4.9,3.1,1.5,0.1,1,setosa
10,10,11,5.4,3.7,1.5,0.2,1,setosa
11,11,12,4.8,3.4,1.6,0.2,1,setosa
12,12,13,4.8,3.0,1.4,0.1,1,setosa
13,13,14,4.3,3.0,1.1,0.1,1,setosa
14,14,15,5.8,4.0,1.2,0.2,1,setosa
15,15,16,5.7,4.4,1.5,0.4,1,setosa
16,16,17,5.4,3.9,1.3,0.4,1,setosa
17,17,18,5.1,3.5,1.4,0.3,1,setosa
18,18,19,5.7,3.8,1.7,0.3,1,setosa
19,19,20,5.1,3.8,1.5,0.3,1,setosa
20,20,21,5.4,3.4,1.7,0.2,1,setosa
21,21,22,5.1,3.7,1.5,0.4,1,setosa
22,22,23,4.6,3.6,1.0,0.2,1,setosa
23,23,24,5.1,3.3,1.7,0.5,1,setosa
24,24,25,4.8,3.4,1.9,0.2,1,setosa
25,25,26,5.0,3.0,1.6,0.2,1,setosa
26,26,27,5.0,3.4,1.6,0.4,1,setosa
27,27,28,5.2,3.5,1.5,0.2,1,setosa
28,28,29,5.2,3.4,1.4,0.2,1,setosa
29,29,30,4.7,3.2,1.6,0.2,1,setosa
30,30,31,4.8,3.1,1.6,0.2,1,setosa
31,31,32,5.4,3.4,1.5,0.4,1,setosa
32,32,33,5.2,4.1,1.5,0.1,1,setosa
33,33,34,5.5,4.2,1.4,0.2,1,setosa
34,34,35,4.9,3.1,1.5,0.2,1,setosa
35,35,36,5.0,3.2,1.2,0.2,1,setosa
36,36,37,5.5,3.5,1.3,0.2,1,setosa
37,37,38,4.9,3.6,1.4,0.1,1,setosa
38,38,39,4.4,3.0,1.3,0.2,1,setosa
39,39,40,5.1,3.4,1.5,0.2,1,setosa
40,40,41,5.0,3.5,1.3,0.3,1,setosa
41,41,42,4.5,2.3,1.3,0.3,1,setosa
42,42,43,4.4,3.2,1.3,0.2,1,setosa
43,43,44,5.0,3.5,1.6,0.6,1,setosa
44,44,45,5.1,3.8,1.9,0.4,1,setosa
45,45,46,4.8,3.0,1.4,0.3,1,setosa
46,46,47,5.1,3.8,1.6,0.2,1,setosa
47,47,48,4.6,3.2,1.4,0.2,1,setosa
48,48,49,5.3,3.7,1.5,0.2,1,setosa
49,49,50,5.0,3.3,1.4,0.2,1,setosa
50,50,51,7.0,3.2,4.7,1.4,2,versicolor
51,51,52,6.4,3.2,4.5,1.5,2,versicolor
52,52,53,6.9,3.1,4.9,1.5,2,versicolor
53,53,54,5.5,2.3,4.0,1.3,2,versicolor
54,54,55,6.5,2.8,4.6,1.5,2,versicolor
55,55,56,5.7,2.8,4.5,1.3,2,versicolor
56,56,57,6.3,3.3,4.7,1.6,2,versicolor
57,57,58,4.9,2.4,3.3,1.0,2,versicolor
58,58,59,6.6,2.9,4.6,1.3,2,versicolor
59,59,60,5.2,2.7,3.9,1.4,2,versicolor
60,60,61,5.0,2.0,3.5,1.0,2,versicolor
61,61,62,5.9,3.0,4.2,1.5,2,versicolor
62,62,63,6.0,2.2,4.0,1.0,2,versicolor
63,63,64,6.1,2.9,4.7,1.4,2,versicolor
64,64,65,5.6,2.9,3.6,1.3,2,versicolor
65,65,66,6.7,3.1,4.4,1.4,2,versicolor
66,66,67,5.6,3.0,4.5,1.5,2,versicolor
67,67,68,5.8,2.7,4.1,1.0,2,versicolor
68,68,69,6.2,2.2,4.5,1.5,2,versicolor
69,69,70,5.6,2.5,3.9,1.1,2,versicolor
70,70,71,5.9,3.2,4.8,1.8,2,versicolor
71,71,72,6.1,2.8,4.0,1.3,2,versicolor
72,72,73,6.3,2.5,4.9,1.5,2,versicolor
73,73,74,6.1,2.8,4.7,1.2,2,versicolor
74,74,75,6.4,2.9,4.3,1.3,2,versicolor
75,75,76,6.6,3.0,4.4,1.4,2,versicolor
76,76,77,6.8,2.8,4.8,1.4,2,versicolor
77,77,78,6.7,3.0,5.0,1.7,2,versicolor
78,78,79,6.0,2.9,4.5,1.5,2,versicolor
79,79,80,5.7,2.6,3.5,1.0,2,versicolor
80,80,81,5.5,2.4,3.8,1.1,2,versicolor
81,81,82,5.5,2.4,3.7,1.0,2,versicolor
82,82,83,5.8,2.7,3.9,1.2,2,versicolor
83,83,84,6.0,2.7,5.1,1.6,2,versicolor
84,84,85,5.4,3.0,4.5,1.5,2,versicolor
85,85,86,6.0,3.4,4.5,1.6,2,versicolor
86,86,87,6.7,3.1,4.7,1.5,2,versicolor
87,87,88,6.3,2.3,4.4,1.3,2,versicolor
88,88,89,5.6,3.0,4.1,1.3,2,versicolor
89,89,90,5.5,2.5,4.0,1.3,2,versicolor
90,90,91,5.5,2.6,4.4,1.2,2,versicolor
91,91,92,6.1,3.0,4.6,1.4,2,versicolor
92,92,93,5.8,2.6,4.0,1.2,2,versicolor
93,93,94,5.0,2.3,3.3,1.0,2,versicolor
94,94,95,5.6,2.7,4.2,1.3,2,versicolor
95,95,96,5.7,3.0,4.2,1.2,2,versicolor
96,96,97,5.7,2.9,4.2,1.3,2,versicolor
97,97,98,6.2,2.9,4.3,1.3,2,versicolor
98,98,99,5.1,2.5,3.0,1.1,2,versicolor
99,99,100,5.7,2.8,4.1,1.3,2,versicolor
100,100,101,6.3,3.3,6.0,2.5,3,virginica
101,101,102,5.8,2.7,5.1,1.9,3,virginica
102,102,103,7.1,3.0,5.9,2.1,3,virginica
103,103,104,6.3,2.9,5.6,1.8,3,virginica
104,104,105,6.5,3.0,5.8,2.2,3,virginica
105,105,106,7.6,3.0,6.6,2.1,3,virginica
106,106,107,4.9,2.5,4.5,1.7,3,virginica
107,107,108,7.3,2.9,6.3,1.8,3,virginica
108,108,109,6.7,2.5,5.8,1.8,3,virginica
109,109,110,7.2,3.6,6.1,2.5,3,virginica
110,110,111,6.5,3.2,5.1,2.0,3,virginica
111,111,112,6.4,2.7,5.3,1.9,3,virginica
112,112,113,6.8,3.0,5.5,2.1,3,virginica
113,113,114,5.7,2.5,5.0,2.0,3,virginica
114,114,115,5.8,2.8,5.1,2.4,3,virginica
115,115,116,6.4,3.2,5.3,2.3,3,virginica
116,116,117,6.5,3.0,5.5,1.8,3,virginica
117,117,118,7.7,3.8,6.7,2.2,3,virginica
118,118,119,7.7,2.6,6.9,2.3,3,virginica
119,119,120,6.0,2.2,5.0,1.5,3,virginica
120,120,121,6.9,3.2,5.7,2.3,3,virginica
121,121,122,5.6,2.8,4.9,2.0,3,virginica
122,122,123,7.7,2.8,6.7,2.0,3,virginica
123,123,124,6.3,2.7,4.9,1.8,3,virginica
124,124,125,6.7,3.3,5.7,2.1,3,virginica
125,125,126,7.2,3.2,6.0,1.8,3,virginica
126,126,127,6.2,2.8,4.8,1.8,3,virginica
127,127,128,6.1,3.0,4.9,1.8,3,virginica
128,128,129,6.4,2.8,5.6,2.1,3,virginica
129,129,130,7.2,3.0,5.8,1.6,3,virginica
130,130,131,7.4,2.8,6.1,1.9,3,virginica
131,131,132,7.9,3.8,6.4,2.0,3,virginica
132,132,133,6.4,2.8,5.6,2.2,3,virginica
133,133,134,6.3,2.8,5.1,1.5,3,virginica
134,134,135,6.1,2.6,5.6,1.4,3,virginica
135,135,136,7.7,3.0,6.1,2.3,3,virginica
136,136,137,6.3,3.4,5.6,2.4,3,virginica
137,137,138,6.4,3.1,5.5,1.8,3,virginica
138,138,139,6.0,3.0,4.8,1.8,3,virginica
139,139,140,6.9,3.1,5.4,2.1,3,virginica
140,140,141,6.7,3.1,5.6,2.4,3,virginica
141,141,142,6.9,3.1,5.1,2.3,3,virginica
142,142,143,5.8,2.7,5.1,1.9,3,virginica
143,143,144,6.8,3.2,5.9,2.3,3,virginica
144,144,145,6.7,3.3,5.7,2.5,3,virginica
145,145,146,6.7,3.0,5.2,2.3,3,virginica
146,146,147,6.3,2.5,5.0,1.9,3,virginica
147,147,148,6.5,3.0,5.2,2.0,3,virginica
148,148,149,6.2,3.4,5.4,2.3,3,virginica
149,149,150,5.9,3.0,5.1,1.8,3,virginica

In [67]:
acquire.get_telco_data()

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,...,No,2,Yes,2,65.60,593.3,No,One year,Mailed check,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,...,Yes,1,No,2,59.90,542.4,No,Month-to-month,Mailed check,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,...,No,1,Yes,1,73.90,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,...,Yes,1,Yes,1,98.00,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,...,No,1,Yes,2,83.90,267.4,Yes,Month-to-month,Mailed check,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,...,No,2,No,2,55.15,742.9,No,One year,Mailed check,DSL
7039,7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,...,Yes,1,Yes,1,85.10,1873.7,Yes,Month-to-month,Electronic check,Fiber optic
7040,7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,...,No,1,Yes,2,50.30,92.75,No,Month-to-month,Mailed check,DSL
7041,7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,...,Yes,3,No,2,67.85,4627.65,No,Two year,Mailed check,DSL
7042,7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,...,Yes,3,No,1,59.00,3707.6,No,Two year,Electronic check,DSL